<div class="main">
  <div class="mat-elevation-z8 card" style="font-size: 5em">
    <div style="margin-bottom: 40px">{{time.hour > 12 ? time.hour - 12 : time.hour}}<span class="blinking">:</span>{{time.min}}</div>
    <div> {{time.hour > 12 ? 'PM' : 'AM'}}</div>
  </div>

  <div class="mat-elevation-z8 card">
    <div>No of available books</div>
    <div style="font-size: 5em; margin-top: 60px">{{noOfBooks}}</div>
  </div>

  <div class="mat-elevation-z8 card">
    Other Dashboard Card
  </div>


</div>
