@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}

.blinking{
  animation: blinkingText 1.2s infinite;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    width: 300px;
    height: 200px;
    font-size: 2em;
    text-align: center;
    padding: 50px;
    margin: 10px 0;
  }
}
