<div class="mat-elevation-z8">
  <mat-form-field style="width: 90%; margin: 20px 5%">
    <mat-label>Search for a book</mat-label>
    <label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search for a book">
    </label>
  </mat-form-field>

  <table mat-table [dataSource]="allBooks">
    <ng-container matColumnDef="bookTitle">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.bookTitle}} </td>
    </ng-container>

    <ng-container matColumnDef="bookImage">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element"><img [src]="element.bookImage" alt="Book Image" style="width: 100px; height: auto; margin: 0 20px 0 0"> </td>
    </ng-container>

    <ng-container matColumnDef="bookDescription">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.bookDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button routerLink="../add-book" [queryParams]="{isEditing: true, id: element.id}" style="background: #d4620c; margin: 5px 10px">Edit</button>
        <button mat-raised-button (click)="deleteBook(element.id)" style="background: #d4620c; margin: 5px 10px">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
