
<mat-card [formGroup]="bookData">
  <h2 *ngIf="updatingData">Editing {{updatingData.bookTitle}}</h2>
  <mat-form-field style="display: block; margin: 20px 0">
      <mat-label>Book Image URL</mat-label>
      <label>
        <input matInput formControlName="bookImage" type="text" placeholder="Enter book image URL">
      </label>
      <mat-error *ngIf="bookData.controls.bookImage.invalid">
        Please enter a valid image URL
      </mat-error>
  </mat-form-field>
  <img *ngIf="bookData.controls.bookImage.valid" mat-card-image [src]="bookData.controls.bookImage.value" alt="Book Image">

  <mat-form-field style="display: block; margin: 20px 0">
      <mat-label>Book Title</mat-label>
      <label>
        <input matInput formControlName="bookTitle" type="text" placeholder="Enter the book title">
      </label>
      <mat-error *ngIf="bookData.controls.bookTitle.invalid">
        Book title is too short, minimum of 5 characters
      </mat-error>
  </mat-form-field>


  <mat-form-field style="display: block; margin: 20px 0">
      <mat-label>Book Description</mat-label>
      <label>
        <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" matInput formControlName="bookDescription" type="text" placeholder="Enter the book title"></textarea>
      </label>
      <mat-error *ngIf="bookData.controls.bookDescription.invalid">
        Book description is too short, minimum of 100 characters
      </mat-error>
  </mat-form-field>

  <button (click)="save()" [disabled]="bookData.invalid" mat-raised-button color="primary" style="width: 100%"> {{isEditing ? 'Update' : 'Publish'}} Book</button>
</mat-card>
