<header>
    <input type="text" class="search" #input placeholder="Search for books" (keyup)="search(input.value)">
</header>

<main>
  <mat-card class="card" *ngFor="let book of allBooks">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{book.bookTitle}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="book.bookImage" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div>{{book.bookDescription.slice(0, 500)}}...</div>
    </mat-card-content>
    <mat-card-actions>
      <div style="color: red">Button will not work</div>
      <button mat-button>View</button>
      <button mat-button>Borrow</button>
    </mat-card-actions>
  </mat-card>
</main>

<footer>
  <div>Interview Assessment</div>
  <button mat-raised-button routerLink="/login" style="background: rgba(0,0,0,0.3); display: inline">Login to Admin</button>
</footer>
