header {
  background: #d4620c;
  display: flex;
  position: fixed;
  justify-content: center;
  height: 90px;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;

  .search {
    background: rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 50px;
    padding: 10px;
    margin: 15px 0;
    border: none;
    box-sizing: border-box;
  }
}

main {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    width: 300px;
    height: auto;
    margin: 20px;
  }
}

footer {
  background: #d4620c;
  display: block;
  justify-content: center;
  height: 150px;
  width: 100%;
  text-align: center;
}
