<div class="login">
  <div [formGroup]="loginForm" class="loginForm">
    <h2>Login with any email or password</h2>

    <mat-form-field style="display: block; margin: 50px 0; width: 100%">
      <mat-label>Email</mat-label>
      <label>
        <input matInput formControlName="email" placeholder="Enter your email">
      </label>
      <mat-hint>Enter a valid email address</mat-hint>
      <mat-error *ngIf="loginForm.controls.email.invalid">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field style="display: block; margin: 50px 0; width: 100%">
      <mat-label>Password</mat-label>
      <label>
        <input matInput formControlName="password" type="password" placeholder="Enter your password">
      </label>
      <mat-hint>Enter password not less than 8 characters</mat-hint>
      <mat-error *ngIf="loginForm.controls.password.invalid">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>


    <div>
      <button (click)="login()" [disabled]="loginForm.invalid" mat-raised-button style="width: 100%; background: #d4620c">Login</button>
    </div>
  </div>
</div>
