.login {
  background: black url("../../../../assets/images/library_background.jpg") center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  .loginForm {
    position: fixed;
    width: 400px;
    height: auto;
    top: calc(50vh - 300px);
    left: calc(50vw - 200px);
    background: rgba(255, 255, 255, 0.81);
    border-radius: 20px;
    box-shadow: 0 0 30px 10px gray;
    padding: 100px 50px;
    text-align: center;


  }
}
