template {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  nav {
    height: 100vh;
    width: 300px;
    background: #d4620c;

    ul {
      padding: 0!important;
      margin-top: 100px;
    }
    li {
      font-family: Playfair Display, serif;
      font-weight: 400;
      font-size: 1.5em;
      list-style: none;
      display: block;
      width: 100%;
      text-align: left;
      padding: 30px 0;

      &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

  section {
    height: 100vh;
    width: calc(100vw - 300px);

    header {
      display: block;
      width: 100%;
      height: 80px;
      border-bottom: #d4620c solid 2px;
      box-shadow: 0 2px 10px gray;
    }

    main {
      height: calc(100vh -  80px);
      padding: 50px;
      overflow-y: auto;
      box-sizing: border-box;
    }
  }
}
