<template>
  <nav>
    <ul>
      <li routerLink="/admin">Dashboard</li>
      <li routerLink="/admin/all-books">All Books</li>
    </ul>
  </nav>
  <section>
    <header>
      <button mat-raised-button routerLink="add-book" style="background: #d4620c; margin: 20px; float: right">Add Book</button>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </section>
</template>
